button {
  scale: 200%;
 margin-right: 50px;
  margin-top: 5%;
  margin-left: 50px;
  border: 2px solid #333;
  border-radius: 6px;
}

div {
  text-align: center;
  
}

p {
  scale: 200%;
  margin-top: 5%
}

.box {
  border: 2px solid #333;
  border-radius: 12px;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  margin-top: 20%;
}

body {
  font-family: sans-serif;
}